<div class="dash_side col-md-3 col-md-offset-9">
	<nav class="navbar navbar-default sidebar">
		<ul class="nav navbar-nav">
			<li><%= link_to current_user.name, current_user.primary_blog %></li>
		</ul>
	</nav>
</div>