<div class="post-photos post-content">
	<% post.post_attachments.each do |att| %>
		<%= image_tag att.attachment_url(:single) %>
	<% end %>
</div>
<div class="post-caption">
	<% if !post.caption.nil? %>
		<%= post.caption %>
	<% end %>
</div>
