@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
	-webkit-font-smoothing: antialiased;
	padding-bottom: 5em;
}

.dash-text {
	color: #eee;
}


form {
	margin-top: 2em;
}

.search {
	button {
		border: none;
		display: inline;
	}
}
