// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-container {
	margin-bottom: 2em;
}

.post-body, .post-tags {
	padding-left: 1em;
}

.post-list {
	margin-top: 2em;
}