<div class="row">
	<div class="post-container col-md-10 col-md-offset-1">
		<div class="post-title">
			<h4><%= post.title %></h4>
		</div>
		<div class="post-body col-md-10">
			<%= post.body %>
		</div>
	</div>
</div>